.popup {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    display: flex;
    opacity: 0;
    transition: visibility .2s, opacity .2s linear;
    visibility: hidden;
}
